{% extends 'base.html' %}
{% load static %}
{% block body %}


    <!-- product list part start-->
    <section class="about_us about_us_padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <div class="about_us_video">
                            <img src={% static "img/about/shop3.jpg" %} class="img-fluid">
                        </div>
                        <!-- about text for non-small screen -->
                        <pre  class="d-none d-sm-block"><h3>فروشگاه آکوامارکت با داشتن چندین سال تجربه در زمینه تأمین، ساخت و فروش تجهیزات آکواریوم
ماهی های تزئینی با هدف ارتقای سطح علمی و کیفیت تجهیزات و لوازم مورد استفاده برای راه اندازی
 و نگهداری انواع سیستم های آب شور و شیرین فعالیت خود را در سال ۱۳۹۸ آغاز نموده است.
مغازه آکوامارکت همواره تلاش نموده است گام به گام با پیشرفت های علمی و تکنیکی در این حرفه
روبه جلو حرکت نماید و بتواند پاسخگوی نیاز علاقه مندان به این حرفه لوکس باشد و بهترین ها را به
همراه اطلاعات علمی به روز شده در اختیار آنان قرار دهد.
                        </h3></pre>
                         <!-- about text for small screen -->
                        <pre class="d-block d-sm-none"><h3>فروشگاه آکوامارکت با داشتن چندین سال تجربه در زمینه تأمین،
ساخت و فروش تجهیزات آکواریوم ماهی های تزئینی با هدف
ارتقای سطح علمی و کیفیت تجهیزات و لوازم مورد استفاده برای
راه اندازی و نگهداری انواع سیستم های آب شور و شیرین فعالیت
خود را در سال ۱۳۹۸ آغاز نموده است. مغازه آکوامارکت همواره
تلاش نموده است گام به گام با پیشرفت های علمی و تکنیکی در
این حرفه روبه‌جلو حرکت نماید و بتواند پاسخگوی نیاز علاقه‌مندان
به این حرفه لوکس باشد و بهترین ها را به همراه اطلاعات علمی
به روز شده در اختیار آنان قرار دهد.
                        </h3></pre>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->


{% endblock %}