{% extends 'base.html' %}
{% load static %}
{% block body %}
{#    <!-- slider Area Start-->#}
{#    <div class="slider-area ">#}
{#        <!-- Mobile Menu -->#}
{#        <div class="single-slider slider-height2 d-flex align-items-center"#}
{#             data-background="{% static "/img/hero/category.jpg" %}">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-xl-12">#}
{#                        <div class="hero-cap text-center">#}
{#                            <h2>محصولات</h2>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- slider Area End-->#}

    <!-- product list part start-->
    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form method="get" action="{% url "shop:product_search" %}" >
                                <input type="text" name="Search" value="{{ request.Get.q }}" placeholder="جستجوی محصول"
                                               style="direction: rtl; text-align: right; padding-right: 50px;">
                                <i class="ti-search"></i>
                            </form>

                        </div>
                        <div class="single_sedebar">
                            <div class="select_option" style="font-size: 120%">
                                <div class="select_option_list" style="text-align: right; padding-right: 50px">طبقه بندی<i
                                        class="right fas fa-caret-down"></i></div>
                                <div class="select_option_dropdown" style="text-align: right; padding-right: 50px">
                                    <pre><a href="{% url "shop:product_category" 'saltwater_fish'%}">ماهی آب شور</a></pre>
                                    <pre><a href="{% url "shop:product_category" 'freshwater_fish'%}">ماهی آب شیرین</a></pre>
                                    <pre><a href="{% url "shop:product_category" 'reef'%}">ریف</a></pre>
                                    <pre><a href="{% url "shop:product_category" 'supplies'%}">غذا و تجهیزات</a></pre>
                                </div>
                            </div>
                        </div>
                        {% if has_type %}
                            <div class="single_sedebar">
                                <div class="select_option">
                                    <div class="select_option_list"
                                         style="text-align: right; padding-right: 50px;font-size: 120%">نوع<i
                                            class="right fas fa-caret-down"></i></div>
                                    <div class="select_option_dropdown" style="text-align: right; padding-right: 50px;">
                                            <pre style="font-size: 120%"><a href="{% url "shop:product_category" 'food'%}">غذا</a></pre>
                                            <pre style="font-size: 120%"><a href="{% url "shop:product_category" 'air_pump'%}">پمپ هوا</a></pre>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">
                            {% for product in object_list %}
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="{% url "shop:product_detail" product.slug  %}"><img href="{{ product.slug }}" src="{{ product.image.url }}" alt="" class="img-fluid"></a>
                                        <div class="product-caption" style="text-align: center">
                                            <h3 style="font-family: Bnazanin"><a href="{% url "shop:product_detail" product.slug  %}">{{ product.title }}</a></h3>
{#                                            {% if product.exist %}#}
{#                                                <div class="price">#}
{#                                                    <ul>#}
{#                                                        {% if product.has_offer %}#}
{#                                                            <ul class="discount"> تومان {{ product.orginal_price }}</ul>#}
{#                                                            <ul> تومان {{ product.final_price }}</ul>#}
{#                                                        {% else %}#}
{#                                                            <ul> تومان {{ product.orginal_price }}</ul>#}
{#                                                        {% endif %}#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            {% else %}#}
{#                                                <div class="price">#}
{#                                                    <ul>#}
{#                                                        <li class="product_dosent_exist">موجود نمی باشد</li>#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            {% endif %}#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {#                        <div class="load_more_btn text-center">#}
                        {#                            <a href="#" class="btn_3">Load More</a>#}
                        {#                        </div>#}

                        <div class="load_more_btn ">
                                {% if is_paginated %}
                                    {% include "_pagination.html" %}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->


{% endblock %}