{% extends 'base.html' %}
{% load static %}
{% block body %}

    <main>
        <header>


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static "img/slider/slider_aquarium.jpg" %}"
                             alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <a href="{% url "shop:product_category" 'freshwater_fish' %}"><img class="d-block w-100"
                                                                                           src="{% static "img/slider/slider_fresh.jpg" %}"
                                                                                           alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url "shop:product_category" 'saltwater_fish' %}"><img class="d-block w-100"
                                                                                          src="{% static "img/slider/slider_salt.jpg" %}"
                                                                                          alt="Third slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url "shop:product_category" 'supplies' %}"><img class="d-block w-100"
                                                                                    src="{% static "img/slider/slider_supplies.jpg" %}"
                                                                                    alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>

        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2>انواع محصولات</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 ">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a href="{% url "shop:product_category" 'reef' %}">
                                    <img src="{% static "/img/categori/category_reef.jpg" %}" alt=""></a>
                                <div class="category-caption d-xl-none">
                                    <span class="best"><a href="{% url "shop:product_category" 'reef' %}">ریف</a></span>
                                </div>
                                <div class="category-caption d-none d-xl-block">
                                    <span class="best_large"><a href="{% url "shop:product_category" 'reef' %}">ریف</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">
                                <a href="{% url "shop:product_category" 'saltwater_fish' %}">
                                    <img src="{% static "/img/categori/category_saltfish.jpg" %}" alt=""></a>
                                <div class="category-caption d-xl-none">
                                    <span class="best"><a href="{% url "shop:product_category" 'saltwater_fish' %}">ماهی آب شور</a></span>
                                </div>
                                <div class="category-caption d-none d-xl-block">
                                    <span class="best_large"><a
                                            href="{% url "shop:product_category" 'saltwater_fish' %}">ماهی آب شور</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a href="{% url "shop:product_category" 'freshwater_fish' %}">
                                    <img src="{% static "/img/categori/category_freshfish.jpg" %}" alt=""></a>
                                <div class="category-caption d-xl-none">
                                    <span class="best"><a href="{% url "shop:product_category" 'freshwater_fish' %}">ماهی آب شیرین</a></span>
                                </div>
                                <div class="category-caption d-none d-xl-block">
                                    <span class="best_large"><a
                                            href="{% url "shop:product_category" 'freshwater_fish' %}">ماهی آب شیرین</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <a href="{% url "shop:product_category" 'supplies' %}">
                                    <img src="{% static "/img/categori/category_supplie.jpg" %}" alt=""></a>
                                <div class="category-caption d-xl-none">
                                    <span class="best"><a href="{% url "shop:product_category" 'supplies' %}">غذا و تجهیزات</a></span>
                                </div>
                                <div class="category-caption d-none d-xl-block">
                                    <span class="best_large"><a href="{% url "shop:product_category" 'supplies' %}">غذا و تجهیزات</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Category Area End-->
        <!-- Latest Products Start -->
        <section class="latest-product-area padding-bottom">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end " dir="rtl">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5 " style="float:left;">
                        <div class="section-tittle mb-30">
                            <h2>
                                <pre>آخرین محصولات </pre>
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7 " style=" float:left;">
                        <div class="properties__button f-left">
                            <!--Nav Button  -->
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                       href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">ماهی آب
                                        شور</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
                                       href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">ریف</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
                                       href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">ماهی
                                        آب شیرین</a>

                                    {#                                    <a class="nav-item nav-link" id="nav-contact2-tab" data-toggle="tab"#}
                                    {#                                       href="#nav-offer" role="tab" aria-controls="nav-contact" aria-selected="false">تخفیف#}
                                    {#                                        دارها</a>#}

                                    <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last"
                                       role="tab" aria-controls="nav-contact" aria-selected="false">غذا و تجهیزات</a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>

                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card salt -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {% for salt in salt_fish_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <a href="{% url "shop:product_detail" salt.slug %}"><img
                                                    src="{{ salt.image.url }}" alt=""></a>
                                        </div>
                                        <div class="product-caption">
                                            <h4><a style="font-size: x-large"
                                                   href="{% url "shop:product_detail" salt.slug %}">{{ salt.title }}</a>
                                            </h4>
                                            {#                                            {% if salt.exist %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        {% if salt.has_offer %}#}
                                            {#                                                            <ul class="discount"> تومان {{ salt.orginal_price }}</ul>#}
                                            {#                                                            <ul> تومان {{ salt.final_price }}</ul>#}
                                            {#                                                        {% else %}#}
                                            {#                                                            <ul> تومان {{ salt.orginal_price }}</ul>#}
                                            {#                                                        {% endif %}#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% else %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        <li class="product_dosent_exist">موجود نمی باشد</li>#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% endif %}#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <!-- Card reef -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row">
                            {% for reef in reef_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <a href="{% url "shop:product_detail" reef.slug %}"> <img
                                                    src="{{ reef.image.url }}" alt=""></a>
                                        </div>
                                        <div class="product-caption">
                                            <h4><a style="font-size: x-large"
                                                   href="{% url "shop:product_detail" reef.slug %}">{{ reef.title }}</a>
                                            </h4>
                                            {#                                            {% if reef.exist %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        {% if reef.has_offer %}#}
                                            {#                                                            <ul class="discount"> تومان {{ reef.orginal_price }}</ul>#}
                                            {#                                                            <ul> تومان {{ reef.final_price }}</ul>#}
                                            {#                                                        {% else %}#}
                                            {#                                                            <ul> تومان {{ reef.orginal_price }}</ul>#}
                                            {#                                                        {% endif %}#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% else %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        <li class="product_dosent_exist">موجود نمی باشد</li>#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% endif %}#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Card fresh -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row">
                            {% for fresh in fresh_fish_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <a href="{% url "shop:product_detail" fresh.slug %}"><img
                                                    src="{{ fresh.image.url }}" alt=""></a>
                                        </div>
                                        <div class="product-caption">
                                            <h4>
                                                <a style="font-size: x-large"
                                                   href="{% url "shop:product_detail" fresh.slug %}">{{ fresh.title }}</a>
                                            </h4>
                                            {#                                            {% if fresh.exist %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        {% if fresh.has_offer %}#}
                                            {#                                                            <ul class="discount"> تومان {{ fresh.orginal_price }}</ul>#}
                                            {#                                                            <ul> تومان {{ fresh.final_price }}</ul>#}
                                            {#                                                        {% else %}#}
                                            {#                                                            <ul> تومان {{ fresh.orginal_price }}</ul>#}
                                            {#                                                        {% endif %}#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% else %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        <li class="product_dosent_exist">موجود نمی باشد</li>#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% endif %}#}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {#                    <!-- Card offer -->#}
                    {#                    <div class="tab-pane fade" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">#}
                    {#                        <div class="row">#}
                    {#                            {% for offer in offer_products_list %}#}
                    {#                                {% if offer.exist %}#}
                    {#                                    <div class="col-xl-4 col-lg-4 col-md-6">#}
                    {#                                        <div class="single-product mb-60">#}
                    {#                                            <div class="product-img">#}
                    {#                                                <a href="{% url "shop:product_detail" offer.slug %}"><img#}
                    {#                                                        src="{{ offer.image.url }}" alt=""></a>#}
                    {#                                            </div>#}
                    {#                                            <div class="product-caption">#}
                    {#                                                <h4>#}
                    {#                                                    <a href="{% url "shop:product_detail" offer.slug %}">{{ offer.title }}</a>#}
                    {#                                                </h4>#}
                    {#                                                {% if offer.exist %}#}
                    {#                                                    <div class="price">#}
                    {#                                                        <ul>#}
                    {#                                                            {% if offer.has_offer %}#}
                    {#                                                                <ul class="discount">#}
                    {#                                                                    تومان {{ offer.orginal_price }}</ul>#}
                    {#                                                                <ul> تومان {{ offer.final_price }}</ul>#}
                    {#                                                            {% else %}#}
                    {#                                                                <ul> تومان {{ offer.orginal_price }}</ul>#}
                    {#                                                            {% endif %}#}
                    {#                                                        </ul>#}
                    {#                                                    </div>#}
                    {#                                                {% else %}#}
                    {#                                                    <div class="price">#}
                    {#                                                        <ul>#}
                    {#                                                            <li class="product_dosent_exist">موجود نمی باشد</li>#}
                    {#                                                        </ul>#}
                    {#                                                    </div>#}
                    {#                                                {% endif %}#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                {% endif %}#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <!-- card supplie -->
                    <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                        <div class="row">
                            {% for supplie in supplies_list %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <a href="{% url "shop:product_detail" supplie.slug %}"><img
                                                    src="{{ supplie.image.url }}" alt=""></a>
                                        </div>
                                        <div class="product-caption">
                                            <h4>
                                                <a style="font-size: x-large"
                                                   href="{% url "shop:product_detail" supplie.slug %}">{{ supplie.title }}</a>
                                            </h4>
                                            {#                                            {% if supplie.exist %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        {% if supplie.has_offer %}#}
                                            {#                                                            <ul class="discount"> تومان {{ supplie.orginal_price }}</ul>#}
                                            {#                                                            <ul> تومان {{ supplie.final_price }}</ul>#}
                                            {#                                                        {% else %}#}
                                            {#                                                            <ul> تومان {{ supplie.orginal_price }}</ul>#}
                                            {#                                                        {% endif %}#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% else %}#}
                                            {#                                                <div class="price">#}
                                            {#                                                    <ul>#}
                                            {#                                                        <li class="product_dosent_exist">موجود نمی باشد</li>#}
                                            {#                                                    </ul>#}
                                            {#                                                </div>#}
                                            {#                                            {% endif %}#}

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->


        <!-- Latest Offers Start -->
        <div class="latest-wrapper lf-padding">
            <div class="latest-area latest-height d-flex align-items-center"
                 data-background="{% static "/img/collection/latest-offer.png" %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
                            <div class="latest-caption">
                                <h2 align="center" style="color: #2577fd">برای دریافت آخرین تخفیفات</h2>
                                <h2 align="center" style="color:#2577fd">شماره تماس خود را وارد کنید</h2>
                                {#                                {% if has_phone %}#}
                                {#                                    <p>شماره با موفقیت ثبت شد</p>#}
                                {#                                    {% else %}#}
                                {#                                    <p>شماره به درستی وارد نشده است</p>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-6 ">
                            <div class="latest-subscribe">
                                <form method="post" action="{% url "shop:index" %}">
                                    {% csrf_token %}
                                    <input style="direction: rtl; text-align: right; padding-right: 130px " type="tel"
                                           name="phone" value="{{ request.Get.q }}">
                                    <button style="font-size: large">ارسال</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- man Shape -->
                {#                <div class="man-shape">#}
                {#                    <img src="{% static "/img/collection/latest-man.png" %}" alt="">#}
                {#                </div>#}
            </div>
        </div>
        <!-- Latest Offers End -->

        <!-- Gallery Start-->
    <!-- blocked in small device -->
        <div class="gallery-wrapper lf-padding d-none d-sm-block">
            <div class="gallery-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="gallery-items">
                            <img src="{% static "/img/gallery/gallery_crab.jpg" %}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{% static "/img/gallery/gallery_plant.jpg" %}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{% static "/img/gallery/gallery_dragon.jpg" %}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{% static "/img/gallery/gallery_clown.png" %}" alt="">
                        </div>
                        <div class="gallery-items">
                            <img src="{% static "/img/gallery/gallery_reef.jpg" %}" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery End-->

    </main>

{% endblock %}
