{% extends 'base.html' %}
{% load static %}
{% block body %}








    <!--================Single Product Area =================-->
    <!-- mobile view -->
    <div class="product_image_area d-block d-md-none section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="product_img_slide owl-carousel">
                        {% for img in images %}
                            <div class="single_product_img">
                                <img src="{{ img.image.url }}" alt="#" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <h3>{{ object.title }}</h3>
                        <p>
                            {{ object.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- large view -->
    <div class="product_image_area d-none d-md-block d-lg-none section-padding40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="product_img_slide owl-carousel">
                        {% for img in images %}
                            <div class="single_product_img">
                                <img src="{{ img.image.url }}" alt="#" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-right" dir="rtl" align="right">
                        <h3>{{ object.title }}</h3>
                        <pre>
                            {{ object.description }}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- large view -->
    <div class="product_image_area d-none d-lg-block ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="product_img_slide owl-carousel">
                        {% for img in images %}
                            <div class="single_product_img">
                                <img src="{{ img.image.url }}" alt="#" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <h3>{{ object.title }}</h3>
                        <pre>
                            {{ object.description }}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <section class="related d-none d-sm-block" dir="rtl" style="color: red">
        <h3 align="right">محصولات مرتبط</h3>
        {% for related in related_products %}
            <div align="right" class="relatemovie">
                <a href="{% url "shop:product_detail" related.slug %}"><img src="{{ related.image.url }}"></a>
                <a href="{% url "shop:product_detail" related.slug %}"><span
                        class="relatedname align-right">{{ related.title }}</span></a>
            </div>
        {% endfor %}
    </section>



{% endblock %}
