<nav class="pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
        {% else %}
            <li class="disabled"></li>
        {% endif %}

        {% for pages in page_obj.paginator.page_range %}
            {% if pages <= page_obj.number|add:5 and pages >= page_obj.number|add:-5 %}
                {% if page_obj.number == pages %}
                    <li class="menuactive"><a href="#" style="color: white">{{ pages }}</a></li>
                {% else %}
                    <li><a href="?page={{ pages }}">{{ pages }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
        {% else %}
            <li class="disabled"></li>
        {% endif %}
    </ul>
</nav>